/**
 * Neumorphic Card 
 * @author: Dory Azar
*/

.panel_face_front, .panel_face_back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.panel_face_back {
    z-index: 200;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
}